html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

.page_collections {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: rgb(42, 52, 76);
}

.page_collections > a {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(94, 130, 255);
}

.pace_collections > nav {
    display: flex;
    align-items: center;
}

.page_collections > nav > ul {
    overflow: hidden;
    height: 40px;
}

.page_collections > nav > ul > li {
    float: left;
    display: flex;
    align-items: center;
    margin-right: 20px;
    height: 40px;
}

.page_collections > nav > ul > li > span {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 12px;
    color: white;
    padding: 0 10px 0 0;
    background-color: rgb(94, 130, 255);
}

.page_collections > nav > ul > li > span > span {
    margin-left: 10px;
}

.page_collections > nav > ul > li > a {
    text-decoration: none;
}

.page_collections > nav > ul > li > a > span {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 12px;
}

.page_collections > nav > ul > li > a > span > span {
    margin-left: 10px;
    color: white;
}

.search_box {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(94, 130, 255);
}

.search_box > a{
    margin: 0 20 0 20;
}

.search {
    display: flex;
    position: relative;
    width: 800px;
}

.search > input {
    width: 100%;
    border-radius: 0 8px 8px 0;
    padding: 10px 12px;
    font-size: 12px;
    border: none;

}

.search > button {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    border-radius: 8px;
    background-color: white;
    height: 100%;
    width: 50px;
    font-size: 16px;
}

.search > button:hover {
    cursor: pointer;
}

.search > select {
    float: left;
}

.country > button {
    border: none;
    border-radius: 8px 0 0 8px;
    height: 100%;
    width: 60px;
    background-color: none;
}

.country > button:hover {
    cursor: pointer;
}

.patchnote > button {
    border: none;
    border-radius: 16px;
    margin-left: 10px;
    height: 36px;
    background-color: rgb(76, 112, 207);
    display: flex;
    align-items: center;
    color: white;
}

.patchnote > button:hover {
    cursor: pointer;
    background-color: rgb(59, 93, 186);
}

.main_menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(94, 130, 255);
}

.main_menu > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
}

.main_menu .main_collections {
    height: 50px;
    overflow: hidden;
}

.main_menu .main_collections > li {
    display: flex;
    align-items: center;
    float: left;
    margin-right: 30px;

}

.main_menu .main_collections > li > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(184, 204, 251);
}

.main_menu .main_collections > li > a > span {
    display: flex;
    align-items: center;
    height: 47px;
    border-bottom: 3px solid transparent;
}

.main_menu .main_collections > li > a > span:hover {
    color: white;
    border-bottom: 3px solid white;
}

.main_menu .main_collections .gamemode {
    color: aqua;
}

.main_menu .main_collections .gamemode:hover {
    color: white;
    border-bottom: 3px solid white;
}

.main_menu .my_page > li {
    display: flex;
    align-items: center;
    height: 47px;
    border-bottom: 3px solid transparent;
}

.main_menu .my_page > li:hover {
    color: white;
    border-bottom: 3px solid white;
}

.main_menu .my_page > li > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(184, 204, 251);
    gap: 8px;
}

.advertisement_sentence {
    height: 40px;
    background-color: rgb(244, 188, 65);
    display: flex;
    align-items: center;
    justify-content: center;
}

.advertisement_sentence > div {
    width: 1100px;
    height: 40px;
    display: flex;
}

.advertisement_sentence > div > a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.advertisement_sentence > div > a:hover {
    text-decoration: underline;
}

.player_rank_info {
    height: 250px;
    background-color: rgb(49, 49, 59);
    display: flex;
    align-items: center;
    justify-content: center;
}

.player_rank_info_box {
    width: 1100px;
    height: 250px;
    display: flex;
    align-items: center;
}

.player_icon {
    height: 250px;
    width: 11%;
    display: flex;
    position: relative;
}

.player_icon > img {
    margin-top: 40px;
    border-radius: 20px;
}

.player_icon > button {
    position: absolute;
    background-color: rgb(35, 45, 54);
    color: white;
    border: none;
    border-radius: 8px;
    top: 130px;
    left: 32px;
}

.player_info_detail {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 54%;
}

.player_tier {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 5px;
}

.player_tier > button {
    background-color: rgb(28, 28, 31);
    color: rgb(117, 116, 133);
    border: none;
    border-radius: 4px;
    cursor: text;
    font-size: 12px;
}

.player_tier .more_tier_button {
    background-color: rgb(49, 49, 59);
    color: rgb(117, 116, 133);
    cursor: pointer;
}

.player_tier .more_tier_button:hover {
    background-color: rgb(28, 28, 31);
}

.player_name {
    font-size: 24px;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.player_name #name {
    color: white;
    font-weight: bolder;
}

.player_name #hashcode {
    color: rgb(117, 116, 133);
}

.player_name > button {
    margin-left: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-size: 23px;
    background-color: rgb(49, 49, 59);
    color: rgb(117, 116, 133);
    border: 0.5px solid rgb(117, 116, 133);
}

.prev_name_and_rank {
    height: 25px;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 5px;
}

.prev_name_and_rank > a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.prev_name_and_rank > a:hover > #pro_name {
    text-decoration: underline;
    text-decoration-color: white;
}

.prev_name_and_rank > a:hover > #arrow {
    color: white;
}

.prev_name_and_rank #pro_name {
    color: white;
}

.prev_name_and_rank #arrow {
    color: rgb(117, 116, 133);
    font-weight: bolder;
    margin-left: 5px;
}

.prev_name_and_rank > p {
    color: rgb(117, 116, 133);
}

.prev_name_and_rank > a > p {
    color: gray;
}

.setting_profile {
    height: 30px;
    display: flex;
    align-items: center;
}

.setting_profile > button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    font-size: 12px;
    border: 0.5px solid rgb(117, 116, 133);
    border-radius: 4px;
    background-color: transparent;
    color: white;
}

.setting_profile #arrow {
    color: gray;
    margin: 0 5px;
}

.button_collections {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button_collections > button {
    height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 4px;
}

.button_collections #renewal {
    color: white;
    background-color: rgb(94, 130, 255);
    cursor: pointer;
}

.button_collections #renewal:hover {
    background-color: rgb(76, 112, 207);
}

.button_collections #tier_graph {
    color: rgb(63, 80, 133);
    border: 0.5px solid rgb(63, 80, 133);
    background-color: transparent;
}

.button_collections #tier_graph:hover {
    background-color: rgba(63, 80, 133, 0.3);
}

.recent_update {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: rgb(117, 116, 133);
}

.video_ad {
    height: 250px;
    width: 35%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}