.main {
  display: flex;
  flex-direction: column;
  margin-top: 87px;
  min-height: 100vh;

  .navigation {
    display: flex;
    position: fixed;
    align-items: center;
    min-width: 1100px;
    width: 100%;
    height: 30px;
    padding: 0 155px;
    padding-top: 8px;
    gap: 25px;
    z-index: 10;
    border-bottom: 1px solid rgb(229, 229, 229);
    font-weight: 300;
    background-color: white;

    .bit {
      color: rgb(39, 59, 194);
    }

    .rank {
      display: inline-flex;
      align-items: center;
      height: 100%;
      font-weight: bold;
      box-sizing: border-box;
      border-bottom: 2px solid black;
    }
  }

  .productMainPage {
    margin-top: 38px;
    padding: 0 155px;

    .productRank {
      width: 100%;
      padding: 35px 0;
      border-bottom: 1px solid rgb(229, 229, 229);

      .title {
        color: black;
        font-weight: bold;
        font-size: 16px;
      }
      
      .wordAndBtn {
        display: flex;
        justify-content: space-between;
        color: rgb(164, 164, 164);
        font-weight: 300;

        .btn {
          font-size: 12px;
          cursor: pointer;
        }
      }

      .productCollection {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
        overflow: auto;

        .oneProductBox {
          display: flex;
          flex-direction: column;

          .imgBox {
            position: relative;
            overflow: hidden;
            width: 232px;
            height: 232px;
            border-radius: 8px;
            background-color: rgb(236, 240, 244);

            .numberBox {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              width: 25px;
              height: 25px;
              font-size: 12px;
              border-radius: 4px;
              top: 10px;
              left: 10px;
              color: white;
              background-color: black;
            }

            .volumeNum {
              position: absolute;
              float: right;
              top: 10px;
              right: 10px;
              font-size: 12px;
            }

            .saveBtn {
              position: absolute;
              float: right;
              bottom: 10px;
              right: 10px;
              font-size: 14px;
            }
          }

          .brandAndName {
            display: flex;
            flex-direction: column;
            padding-top: 12px;
            gap: 4px;
            font-size: 12px;

            .brand {
              font-weight: bold;
            }
          }

          .priceBox {
            display: flex;
            flex-direction: column;
            padding: 10px 0 30px;
            gap: 2px;

            .price {
              font-size: 14px;
              font-weight: 600;
            }
            
            .word {
              font-size: 11px;
              font-weight: 200;
              color: gray;
            }
          }
        }
      }

      .showMoreBtn {
        display: flex;
        width: 100%;
        padding-top: 60px;
        justify-content: center;

        .btn {
          padding: 12px 30px;
          border: 1px solid rgb(211, 211, 211);
          border-radius: 8px;
          color: black;
          background-color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.modalPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  .modalContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 450px;
      height: 450px;
      background-color: white;

      .word {
          padding: 20px 0;
          font-size: 18px;
          font-weight: bold;
      }

      .sizeBox {
          height: 270px;
          padding: 5px 30px;
          overflow-x: hidden;
          overflow-y: auto;

          .size {
              padding: 16px 48px;
              margin: 4px;
              color: black;
              background-color: white;
              border: 1px solid rgb(211, 211 ,211);
              border-radius: 16px;
              cursor: pointer;

              &:focus {
                  border: 1px solid black;
                  font-weight: bold;
              }
          }
      }

    .okBtn {
        padding: 16px 48px;
        margin-top: 35px;
        border-radius: 16px;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
    }
  }
}