.main {
  display: flex;
  margin-left: 245px;
}
.main .main_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 840px;
}
.main .main_contents .story_collection {
  display: flex;
  padding-top: 30px;
  padding-left: 20px;
  width: 620px;
  overflow-x: auto;
  gap: 15px;
}
.main .main_contents .story_collection::-webkit-scrollbar {
  display: none;
}
.main .main_contents .story_collection .one_story {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main_contents .story_collection .one_story .story_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-image: linear-gradient(black, black), linear-gradient(45deg, yellow 0%, red 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.main .main_contents .story_collection .one_story .story_img img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.main .main_contents .story_collection .one_story p {
  padding-top: 6px;
  font-size: 12px;
  color: white;
}
.main .main_contents .feed_collection {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin-top: 15px;
}
.main .main_contents .feed_collection .feed {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main .main_contents .feed_collection .feed .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}
.main .main_contents .feed_collection .feed .head .user_info {
  display: flex;
  align-items: center;
}
.main .main_contents .feed_collection .feed .head .user_info img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding-left: 8px;
}
.main .main_contents .feed_collection .feed .head .user_info .name {
  padding-left: 12px;
  font-weight: bold;
  font-size: 14px;
  color: white;
}
.main .main_contents .feed_collection .feed .head .user_info .time {
  color: gray;
  font-size: 14px;
}
.main .main_contents .feed_collection .feed .head .user_info .time a {
  text-decoration: none;
  color: gray;
}
.main .main_contents .feed_collection .feed .head .more_option {
  text-align: right;
  border: none;
  background-color: transparent;
  color: white;
}
.main .main_contents .feed_collection .feed .head .more_option:active {
  color: gray;
}
.main .main_contents .feed_collection .feed .main_img {
  width: 100%;
  height: 585px;
}
.main .main_contents .feed_collection .feed .main_img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #131313;
}
.main .main_contents .feed_collection .feed .bottom {
  width: 100%;
  flex: 1;
}
.main .main_contents .feed_collection .feed .bottom .button_collection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.main .main_contents .feed_collection .feed .bottom .button_collection .left_button {
  display: flex;
  gap: 10px;
}
.main .main_contents .feed_collection .feed .bottom .button_collection img {
  width: 24px;
  height: 24px;
}
.main .main_contents .feed_collection .feed .bottom .button_collection img:hover {
  filter: brightness(0.7);
  cursor: pointer;
}
.main .main_contents .feed_collection .feed .bottom .text_collection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main .main_contents .feed_collection .feed .bottom .text_collection .like {
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.main .main_contents .feed_collection .feed .bottom .text_collection .main_text {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 3px;
  color: white;
}
.main .main_contents .feed_collection .feed .bottom .text_collection .main_text .name {
  font-weight: bold;
}
.main .main_contents .feed_collection .feed .bottom .text_collection .main_text .show_more_btn {
  border: none;
  font-size: 14px;
  background-color: transparent;
  color: gray;
  cursor: pointer;
}
.main .main_contents .feed_collection .feed .bottom .text_collection .show_all_comment_btn {
  font-size: 14px;
  color: gray;
  cursor: pointer;
}
.main .main_contents .feed_collection .feed .bottom .text_collection .input_comment {
  padding-left: 0;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  color: white;
}
.main .main_contents .feed_collection .feed .bottom .empty {
  height: 20px;
  border-bottom: 1px solid gray;
}
.main .sub_contents {
  flex: 1;
  background-color: gray;
}
/*# sourceMappingURL=Main.css.map */